@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.show-view__top-row {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up('sm') {
    flex-direction: row;
    margin-left: -0.5 * $grid-gutter-width;
    margin-right: -0.5 * $grid-gutter-width;
  }
}

.show-view__top-col {
  @include media-breakpoint-up('sm') {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}

.show-view__img-wrapper {
  display: flex;
  justify-content: center;
  @include media-breakpoint-up('sm') {
    display: block;
  }
}

.show-view__img {
  width: 100%;
  max-width: 200px;
  @include media-breakpoint-up('sm') {
    max-width: none;
  }
}

.show-view__episodes-row {
  margin-top: $spacer * 2;
}

.show-view__episodes-list {
  margin-top: $spacer;
}


