@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.pp-app {
  margin-top: $spacer * 3;
  margin-bottom: $spacer * 3;
  @include media-breakpoint-up('sm') {
    margin-bottom: $spacer * 5;
  }
}
