@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.detail-view__header {
  margin-bottom: $spacer;
}

.detail-view__meta {
  color: #666;
}

.detail-view__summary {
  margin-top: $spacer;
  display: block;
}

.detail-view__img-wrapper {
  display: flex;
  justify-content: center;
  @include media-breakpoint-up('sm') {
    display: block;
  }
}

.detail-view__img {
  width: 100%;
  @include media-breakpoint-up('sm') {
    max-width: none;
  }
}
